

$button-background-color: #01426F;
$warning-color: #FADB4B;
$button-text-color: #ffffff;
$button-padding: 0 20px;
$button-border: none;
$button-border-radius: 5px;
$btn-primary:#124370;
$btn-secondary:#FF9610;
$btn-success:#dcfce7;
$btn-danger:#fee2e2;
$btn-warning:#fef3c7;
$btn-info:#c8e4fa;
$btn-light:#ffffff;
$btn-dark:#000000;
$btn-colortransparent:transparent;
$btn-link:transparent;
$btn-outline-primary:#124370;
$btn-outline-secondary:#FF9610;
$btn-outline-success:#dcfce7;
$btn-outline-danger:#fee2e2;
$btn-outline-warning:#fef3c7;
$btn-outline-info:#c8e4fa;
$btn-outline-light:#ffffff;
$btn-outline-dark:#000000;
$btn-radius:4px;
$rounded-circle:100px;
