

// Branding Colors

$primary-color: #004270;
$secondary-color:#FF9610 ;
$success-color:#009E49 ;
$danger-color: #EB3C00;
$warning-color: #FADB4B;
$info-color: #00BCF2;
$green-color: #81C340;
$dark-blue-color:#0072C6;
$dark-color:#000000;
$color-gray:#888888;
$waning-btn-color:#F9B400;
$light-gray:#9CA3AF;
$brand-font: 'Inter', sans-serif;
$bg-colors:#16517B;
$white: #ffffff;


// /* Dark Theme */
// :root {
//   --background-color: #111;
//   --text-color: #fff;
// }

// /* Light Theme */
// .light-theme {
//   --background-color: #fff;
//   --text-color: #111;
// }