$font-size-sm: 14px; // Small font size
$font-size-base: 16px; // Base font size (typically used for regular text)
$font-size-lg: 18px; // Large font size
$font-size-xl: 22px; // Extra-large font size


$font-sizexxl-heading: 96px; // Small font size
$font-sizexl-heading: 60px; // Small font size
$font-sizemd-heading: 48px; // Small font size
$font-sizemd-heading: 36px; // Small font size
$font-sizesm-heading: 24px; // Small font size
$font-sizexs-heading: 20px; // Small font size


